.TodoItem {
  border-top: 1px solid #4db8ff;
}

.vertical-lines {
  position: absolute;
}

.icon-collection {
  display: inline-block;
  padding: 0;
  padding-left: 83px;
  height: 26px;
}

.icon-collection svg {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  margin-left: .8rem;
  fill: #666666;
}

.icon-edit:hover, .icon-delete:hover, .icon-complete-status:hover{
  fill: #4db8ff;
}