@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

.Todo {
  padding-left: 95px;
  color: #333333;
  font-family: 'Crafty Girls', cursive;
  /* font-size: 1.5rem; */
}

.complete {
  color: darkgreen;
  text-decoration-line: line-through;
  text-decoration-color: gray;
}